body {
    height: auto;
    width: auto;
    background: linear-gradient(167deg, rgba(79,36,120,1) 2%, rgba(179,66,207,0) 60%);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Fredoka";
    
    legend {
        font-family: "Philosopher";
        color: white;
    }
}